<% provide(:title, 'About') %>
<article class="header_row">
<div class="container top_padding bottom_padding">
  <h3 class="header_row_title">
    About FancyLoop
  </h3>
  <p class="about center">
  FancyLoop was created out of a desire to collect feedback for design in a single place.  I used to send separate emails to friends to get their feedback and soon ran out of space on my GMail account. For engineers, think of it as a <a href="http://code.google.com/p/gerrit/">Gerrit</a> for design. FancyLoop was also a means to understand the Ruby on Rails framework.<br><br>
  Feel free to reach out to me at <a href="mailto:fancyloopapp@gmail.com">fancyloopapp@gmail.com</a> or find out more about what I'm up to on my <a href="http://sophiacui.com">personal blog</a>.
  </p>
</div>
</article>
