<% provide(:title, 'About') %>
<div class="container top_padding">
  <h1>About FancyLoop</h1>
  <p>
    About page for FancyLoop. Fancy stuffs goes here.

    This is a work in progres by <a href="http://sophiacui.com">Sophia Cui</a>.
  </p>
</div>
