<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>FancyLoop</h1>
  <h2>
    Home page for FancyLoop. Fancy stuffs goes here.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
