<% provide(:title, 'Sign up') %>
<article class="header_row">
  <div class="container fat_padding center">
      <h3 class="header_row_title">
        Sign up and join the part-ay!
      </h3>
      <%= render 'shared/signup_form' %>
  </div>
</article>
