<% provide(:title, @user.name) %>
<div class="row">
  <h1><%= @user.name %></h1>
  <div class="span12">
    <% if @user.projects.any? %>
      <h3>Projects (<%= @user.projects.count %>)</h3>
      <div id="columns">
        <%= render @projects %>
      </div>
      <%= will_paginate @projects %>
    <% end %>
  </div>
</div>
