<% provide(:title, @user.name) %>
<div class="row">
  <h1><%= @user.name %></h1>
  <div class="span8">
    <% if @user.projects.any? %>
      <h3>Projects (<%= @user.projects.count %>)</h3>
      <ol class="projects">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
  </div>
</div>
