<% provide(:title, full_title(@revision)) %>
<%= render 'shared/feedback_form' %>
<article class="even_row">
  <%= render @revision %>
</article>
    <article class="header_row">
      <div class="container center feedback_row">
        <h3 class="form_title"> Revision Feedback </h3>
          <% if @revision.feedbacks.any? and @revision.feedbacks.count > 0 %>
            <%= render @revision.feedbacks %>
          <% else %>
            <p class="no_feedback center">
              No feedback has been provided for this revision.
              <br> Try sharing this revision with your friends.
            </p>
          <% end %>
      </div>
    </article>
  </div>
</div>
