<article class="header_row">
<div class="container center">
  <div class="project_form_container">
    <%= form_for(@project) do |f| %>
      <h3 class="form_title">Add a new project.</h3>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.text_field :title, placeholder: "Enter new project name...", rows: 1 %>
      <%= f.submit "Create", class: "btn btn-large button_project" %>
      </div>
    <% end %>
  </div>
  </div>
</article>
