<li>
  <span class="title"><%= link_to project.title, project %></span>
  <span class="timestamp">
    Last updated <%= time_ago_in_words(project.updated_at) %> ago.
  </span>
  <% if current_user?(project.user) %>
    <%= link_to "delete", project, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: project.title %>
  <% end %>
</li>
