<% provide(:title, @project.title) %>
<div class="row">
  <h1><%= @project.title %></h1>
  <% if current_user?(@project.user) %>
    <div class="span8 offset2">
      <%= render 'shared/revision_form' %>
    </div>
  <% end %>
  <div class="span12">
    <% if @project.revisions.any? and @project.revisions.count > 0 %>
      <h3>Revisions (<%= @project.revisions.count %>)</h3>
      <div id="revisions_container">
        <%= render @project.revisions %>
      </div>
    <% end %>
  </div>
</div>
