<% provide(:title, @project.title) %>
<div class="row">
  <h1></h1>
  <% if current_user?(@project.user) %>
    <div class="span10 offset1">
      <%= render 'shared/revision_form' %>
    </div>
  <% end %>
  <div class="span12">
      <h3><%= @project.title %> revisions (<%= @project.revisions.count %>)</h3>
    <% if @project.revisions.any? and @project.revisions.count > 0 %>
      <div id="revisions_container">
        <%= render @project.revisions %>
      </div>
    <% end %>
  </div>
</div>
