<% if not feedback.id.nil? %>
  <div class="revision_text">
    <p> <%= feedback.comment %> </p>
    <span class="revision_timestamp">
      - <%= feedback.author %>, <%= time_ago_in_words(feedback.updated_at) %> ago
    <% if current_user?(feedback.revision.project.user) %>
      |
      <%= link_to "delete", feedback, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
    </span>
  </div>
<% end %>
