/* Override bootstrap variables. */

$navbarBackground: #fff;
$navbarBackgroundHighlight: #fff;
$navbarLinkColor: #999;
$navbarLinkColorHover: #000;
$navbarLinkColorActive: #000;
$dropdownLinkColorHover: #000;

@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$projectFormRowColor: rgba(black, 0.5);
$oddRowColor: rgba(black, 0.05);
$evenRowColor: rgba(black, 0.025);
$dropShadowColor: rgba(black, 0.1);
$lightLinkColor: #CCE8FF;
$lightLinkColorHover: #B0DFFF;
$commentBlockColor: rgba(white, 0.97);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin round_shadow_box {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow:    0px 2px 4px 2px $dropShadowColor;
  -webkit-box-shadow: 0px 2px 4px 1px $dropShadowColor;
  box-shadow:         0px 2px 4px 1px $dropShadowColor;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
  font-family: "freight-sans-pro",sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.top_padding {
  padding-top: 20px;
}

.bottom_padding {
  padding-bottom: 20px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-weight: normal;
  font-family: "chaparral-pro",sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.3em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: #6D6D6D;
}

p {
  font-family: "freight-sans-pro",sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  color: #222;
}

p.about {
  color: white;
  font-size: 30px;
  line-height: 1.4em;
  a {
    color: $lightLinkColor;
    &:hover {
      color: $lightLinkColorHover;
      text-decoration: none;
    }
  }
}

p.no_feedback {
  color: $grayMediumLight;
  font-size: 30px;
}

p.no_revisions {
  color: $grayLight;
  font-size: 30px;
}



/* header */

.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {
  border-top-color: $grayLight;
}

.dropdown.open .dropdown-toggle {
  color: black;
}

.nav.pull-right {
  padding-top: 25px;
  font-size: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 5px;
  line-height: 1;
}


/* footer */
footer {
  border-top: 1px solid $grayMediumLight;
  -moz-box-shadow:    0px -1px 2px 1px $dropShadowColor;
  -webkit-box-shadow: 0px -1px 2px 1px $dropShadowColor;
  box-shadow:         0px -1px 2px 1px $dropShadowColor;
  padding-top: 15px;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

input#user_password {
  margin-right: 5px;
  width: 25%;
}

input#user_email {
  margin-right: 5px;
  width: 30%;
}

input#user_name {
  margin-right: 5px;
  width: 20%;
}

input#session_password {
  margin-right: 5px;
  width: 40%;
}

input#session_email {
  margin-right: 5px;
  width: 35%;
}

textarea#project_title {
  width: 80%;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}

/* projects */

.project {
  width: 100%;
  display: inline-block;
  margin: 0px;
  padding: 50px 0px;
}

.revision_photo_large {
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: white;
  @include round_shadow_box;
}

.revision_text {
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  font-family: "chaparral-pro",sans-serif;
  p {
    word-wrap: break-word;
    line-height: 1.2em;
    text-align: left;
    margin-bottom: 5px;
    font-family: "chaparral-pro",sans-serif;
    color: #555;
  }
  padding: 10px;
  width: 280px;
  display: inline-block;
  overflow: hidden;
  margin: 5px 3px;
  background: $commentBlockColor;
  @include round_shadow_box;
}

.revision_photo {
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  width: 300px;
  display: inline-block;
  overflow: hidden;
  margin: 3px;
  background: white;
  @include round_shadow_box;
}

.projects {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
  }
}

.feedback_row {
  padding: 50px 0px;
}

h3.header_row_title {
  padding: 25px 0px 10px;
  font-size: 60px;
  font-weight: normal;
  font-family: "chaparral-pro",sans-serif;
  display: block;
  color: white;
  a {
    color: $lightLinkColor;
    &:hover {
      color: $lightLinkColorHover;
      text-decoration: none;
    }
  }
}

h3.form_title {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: normal;
  font-family: "chaparral-pro",sans-serif;
  display: block;
  color: white;
  a {
    color: $lightLinkColor;
    &:hover {
      color: $lightLinkColorHover;
      text-decoration: none;
    }
  }
}

.fat_padding {
  padding: 150px 0;
}

h1.no_projects {
  padding: 250px 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 60px;
  display: block;
}

h1.title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 60px;
  display: block;
  a {
    color: #555;
    &:hover {
      color: #222;
      text-decoration: none;
    }
  }
}

.timestamp {
  color: $grayLight;
}

.revision_timestamp {
  display: block;
  color: $grayLight;
}

.header_row {
  background: $projectFormRowColor;
}

.even_row {
  background: $evenRowColor;
}

.odd_row {
  background: $oddRowColor;
}

.button_project {
  color: $projectFormRowColor;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project_form_container {
  width: 100%;
  display: inline-block;
  padding: 30px 10px 10px;
}

.feedback_form_container {
  width: 100%;
  display: inline-block;
  margin: -35px 2px 25px;
  padding: 40px 10px 0px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #F2F2F2;
  background-image: linear-gradient(45deg, #FFF, #F9F9F9);
}

.revision_form_container {
  width: 100%;
  display: inline-block;
  margin: -45px 2px 25px;
  padding: 20px 10px 10px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #F2F2F2;
  background-image: linear-gradient(45deg, #FFF, #F9F9F9);
}

#revisions_container {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.file_upload {
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 0px 3px 3px 0px;
  height: 20px;
}

input#revision_image {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.input-large {
  width: 283px;
}

.input-append {
  width: 40%;
  float: left;
  padding-left: 20px;
}

input#feedback_author {
  width: 20%;
}

textarea.short_comment {
  width: 60%;
}

textarea.long_comment {
  width: 80%;
}

textarea#revision_caption {
  width: 45%;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: black;
  background-color: white;
}


.columns {
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  -moz-column-fill: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  -webkit-column-fill: auto;
  column-count: 3;
  column-gap: 5px;
  column-fill: auto;
}
