/* Override bootstrap variables. */

$navbarBackground: #fff;
$navbarBackgroundHighlight: #fff;
$navbarLinkColor: #999;
$navbarLinkColorHover: #000;
$navbarLinkColorActive: #000;
$dropdownLinkColorHover: #000;

@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.3em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {
  border-top-color: $grayLight;
}

.dropdown.open .dropdown-toggle {
  color: black;
}

.nav.pull-right {
  padding-top: 25px;
  font-size: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 5px;
  line-height: 1;
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea#project_title {
  width: 80%;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* projects */

.projects {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
  }
}
.title {
  display: block;
}
.timestamp {
  color: $grayLight;
}

.revision_timestamp {
  display: block;
  color: $grayLight;
}

.revision_text {
  padding: 5px;
}


#columns {
  padding-top: 20px;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  width: 250px;
  display: inline-block;
  margin: 0 2px 15px;
  padding: 15px;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #FEFEFE;
  background-image: linear-gradient(45deg, #FFF, #F9F9F9);
}

.project_form_container {
  width: 100%;
  display: inline-block;
  margin: -20px 2px 25px;
  padding: 20px 10px 10px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #FEFEFE;
  background-image: linear-gradient(45deg, #FFF, #F9F9F9);
}

.revision_form_container {
  width: 100%;
  display: inline-block;
  margin: -40px 2px 25px;
  padding: 20px 10px 10px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #FEFEFE;
  background-image: linear-gradient(45deg, #FFF, #F9F9F9);
}

.revision {
  display: inline-block;
  margin: 0 2px 15px;
  padding: 0px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #FEFEFE;
  background-image: linear-gradient(45deg, #FFF, #F9F9F9);
}

#revisions_container {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.file_upload {
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 0px 3px 3px 0px;
  height: 20px;
}

input#revision_image {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.input-append {
  width: 40%;
  float: left;
  padding-left: 30px;
}

textarea#revision_caption {
  width: 40%;
}

