<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
      <%= link_to image_tag("logo.png", alt: "FancyLoop"), root_path, id: "logo" %>
        <ul class="nav pull-right">
          <li><%= link_to "About",    about_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

